## Use with Docker - DB
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=coffe_shop
DB_HOST=localhost
DB_URL=postgres://postgres:postgres@localhost:5432/coffe_shop

ADMIN_USER=admin
ADMIN_PASSWORD=admin123
