<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Coffe Shop</title>
  </head>

  <body>
    {% if user.is_authenticated %}
    <p>Hi {{ user.username }}</p>
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button
        type="submit"
        class="block w-full rounded bg-gray-900 px-4 py-3 text-sm font-medium text-white transition hover:scale-105"
      >
        Logout
      </button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %} {% block content %} {% endblock %}
  </body>
</html>
